PORT=
NODE_ENV=

DATABASE_URL=

CLIENT_URL=
CALL_SERVICE_URL=
CHAT_SERVICE_URL=
API_GATEWAY_URL=
GROUP_SERVICE_URL=
SOCKET_SERVICE_URL=
KAFKA_BROKER=
KAFKA_CLIENT_ID=

CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SIGNING_SECRET=

STREAM_APP_ID=
STREAM_API_KEY=
STREAM_API_SECRET=